.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#jigsaw{
  text-align: center;
}

li{
  position: relative;
  text-align: left;
  display: inline-block;
  border: 1px solid #DDD;
  border-width: 1px 0 0 1px;
}

li img{
  cursor: grab;
  transition: transform 200ms ease, box-shadow 200ms ease;
}

.jigsaw_shuffled-board{
  /* margin: 20px auto; */
  /* width: 800px; */
  list-style-type: none;
  padding: 0;
  font-size: 0;
  border: 1px solid #DDD;
  border-width: 1px 0 0 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
